@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: hsl(0, 0%, 98%);
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.bottom-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "card1 card2 card3"
    ". card4 .";
  gap: 20px;
}
.header1 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
.header2 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.description {
  width: 550px;
  text-align: center;
  font-weight: 200;
}
.top-container {
  margin-bottom: 50px;
}
.card1 {
  border-top: 5px solid hsl(180, 62%, 55%);
  grid-area: card1;
  margin-top: 120px;
}
.card2 {
  border-top: 5px solid hsl(0, 78%, 62%);
  grid-area: card2;
}
.card3 {
  border-top: 5px solid hsl(34, 97%, 64%);
  grid-area: card3;
  margin-top: 120px;
}
.card4 {
  border-top: 5px solid hsl(212, 86%, 64%);
  grid-area: card4;
  margin-top: -100px;
}
.card {
  display: flex;
  width: 400px;
  flex-direction: column;
  padding: 20px;
  height: 250px;
  background-color: white;
  margin-bottom: 20px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-items p {
  margin-bottom: 70px;
  width: 300px;
  opacity: 0.5;
}
.card-items svg {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
@media (max-width: 450px) {
  body {
    overflow-x: hidden;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottom-container {
    display: flex;
    flex-direction: column;
  }
  .card1 {
    border-top: 5px solid hsl(180, 62%, 55%);
    grid-area: card1;
    margin-top: 0px;
  }
  .card2 {
    border-top: 5px solid hsl(0, 78%, 62%);
    grid-area: card2;
  }
  .card3 {
    border-top: 5px solid hsl(34, 97%, 64%);
    grid-area: card3;
    margin-top: 0px;
  }
  .card4 {
    border-top: 5px solid hsl(212, 86%, 64%);
    grid-area: card4;
    margin-top: 0px;
  }
  .header1 {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }
  .header2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  .description {
    width: 300px;
    align-self: center;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 200;
  }
  .card {
    display: flex;
    width: 400px;
    flex-direction: column;
    padding: 20px;
    height: 250px;
    background-color: white;
    margin-bottom: 20px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
  }
  .p {
    display: flex;
    align-items: center;
  }
}
